@charset "UTF-8";
.footer-section {
    background-color: snow; /* Or any background color you prefer */
    padding: 20px; /* Adjust padding as needed */
    display: flex; /* Make the footer a flex container */
    flex-direction: column; /* Align the content vertically */
    text-align: center; /* Center the content within the footer */
}

.logo-tagline {
    margin-bottom: 10px; /* Add some space between the logo and tagline */
}

.logo {
    display: inline-block; /* Allows the logo to be centered with text-align */
    /* Add any specific styling for your logo image here */
}

.logo img {
    max-width: 100px; /* Adjust the maximum width of the logo */
    height: auto;
    display: block; /* Prevent extra space below inline images */
    margin: 0 auto; /* Center the image within the logo div */
}

.tagline {
    font-size: 0.9rem; /* Adjust font size as needed */
    color: #5C1A1B; /* Adjust text color as needed */
    margin-top: 5px; /* Add some space above the tagline */
}

.email-cta {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.email-cta .try-button {
    background-color: #f39c12;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* Footer container for links and social icons */
.footer-links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    margin-top: 20px;
}

/* Footer links aligned to the left */
.footer-links {
    display: flex;
    flex-direction: column; /* Align the links vertically */
    gap: 10px;
    padding-left: 25%;
}

/* Styling for the footer links */
.footer-links a {
    color: #5C1A1B;
    text-decoration: none;
}

.footer-links a:hover {
    color: purple;
}

/* Social icons aligned to the right */
.social-icons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 25%;
}

/* Horizontal layout for the social icons */
.social-icons-horizontal {
    display: flex;
    gap: 15px; /* Space between icons */
}

/* Styling for social icons */
.social-icons img {
    width: 30px; /* Set a specific width for the icons */
    height: auto;
}

p {
    color: #5C1A1B; /* Adjust text color for footer paragraphs */
    margin: 0;
}

p:last-child {
    margin-top: 20px; /* Add space above the final copyright text */
}
