@charset "UTF-8";

 header {
    background-color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between; /* Pushes elements to the edges */
    align-items: center;
  }

  .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-right: auto;
    padding-left: 20px; /* Push logo to the left */
  }

  nav {
    display: flex; /* Use flexbox for navigation items */
    justify-content: flex-start; /* Align items to the start (left) */
    margin-right: auto; /* push nav to left */
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Make nav items horizontal */
  }

  nav ul li {
    margin: 0 15px;
    color: #5C1A1B;
  }

  nav a {
    text-decoration: none;
    color: #5C1A1B;
  }

  .search-bar {
    display: flex;
    align-items: center;
  }

  .search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #5C1A1B;
    border-radius: 5px 0 0 5px;
    margin-right: 5px;
  }

  .search-bar button {
    background-color: #ddd;
    color: #333;
    border: none;
    padding: 8px 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  