@charset "UTF-8";

header {
  background-color: #fff;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

.logo img {
  height: 50px;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
  margin: 0 15px;
  color: #5C1A1B;
}

nav a {
  text-decoration: none;
  color: #5C1A1B;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  transition: color 0.3s;
}

nav a:hover {
  color: #B22222;
}

.profile-icon {
  position: absolute;
  right: 40px;
  top: 21px;
}

.profile-icon a {
  color: #5C1A1B;
  font-size: 22px;
  text-decoration: none;
}

.profile-icon a:hover {
  color: #B22222;
}
